<nav class="navbar">
    <div class="nav-container">
        <a href="https://sites.google.com/view/adelgacoder/home" class="logo">AdelgaCode</a>
        <button class="nav-toggle" aria-label="Toggle navigation">☰</button>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Details</a></li>
            <li><a href="https://sites.google.com/view/adelgacoder/projects">Tasks-Collecton</a></li>
            <li><a href="contact.html">get intouch</a></li>
            <li><a href="materials.html">Materials</a></li>
            <li><a href="data-analysis-class.html">Python-Site</a></li>
        </ul>
    </div>
</nav>