<nav class="navbar">
    <div class="nav-container">
        <!-- <a href="https://sites.google.com/view/adelgacoder/missionvision" class="logo">AdelgaCode</a> -->
         <a href="index.html" class="logo">
    <span class="blue">A</span>
        <span class="red">d</span>
        <span class="yellow">e</span>
        <span class="blue">l</span>
        <span class="green">g</span>
        <span class="red">a</span>
        <span class="blue">C</span>
        <span class="yellow">o</span>
        <span class="green">d</span>
        <span class="red">e</span>
    </a>

        <button class="nav-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Details</a></li>
            <li><a href="https://sites.google.com/view/adelgacoder/projects">Projects</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="materials.html">Materials</a></li>
            <li><a href="data-analysis-class.html">Class details</a></li>
            <li><a href="quiz_main.html">Take Quiz</a></li>
        </ul>
    </div>
</nav>