<nav class="navbar">
    <div class="nav-container">
        <a href="https://sites.google.com/d/1giOHY4c3W1J0rzNzin0SMcxS35ucMU5V/p/1tOmbGwwzRz-xKZX9kI5OknVcVr6-QuWO/edit" class="logo">AdelgaCode</a>
        <button class="nav-toggle" aria-label="Toggle navigation">☰</button>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Details</a></li>
            <li><a href="https://sites.google.com/view/adelgacoder/projects">Projects</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="materials.html">Materials</a></li>
            <li><a href="data-analysis-class.html">Class details</a></li>
        </ul>
    </div>
</nav>